<!doctype html>
<html>
  <head>
    <title>disco.zone</title>
    <style>
      html, body, #root-container {
        height: 100%;
        margin: 0;
        overflow: hidden;
        background: black;
      }
      iframe.video {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>

    <script>
      window._song = {{{song}}};
    </script>
  </head>

  <body>
    <div id="root-container">
    </div>

    <script src="/static/app.js"></script>
  </body>

</html>
